*.war
*.ear
*.class

/training/extensioninfo.xsd
/training/classes
/training/gensrc
/training/build.xml
/training/resources/beans.xsd
/training/resources/items.xsd
/training/resources/localization
/training/fileAbsolutePath